.box {
    background: #9b59b6;
    height: 100px;
    width: 100px;
    line-height:100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
  }
  
  .animated{
    transition: transform 2s ease-out 1s, background-color 0.5s linear;
  }
  
  .box:hover {
    transform: translateX(300px);
    background-color: teal;
  }
  
  
  